body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

header {
    background-color: #6a5acd;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}
header nav a:hover {
    text-decoration: underline;
}


main section {
    padding: 60px 0;
}
main section:nth-child(odd){
    background-color: #f0f8ff; /* голубой оттенок для нечетных секций */
}
main section:nth-child(even){
    background-color: #fff;  /* белый цвет для четных секций */
}

.hero {
  background-color: #e6e6fa; /* светло-фиолетовый оттенок для секции hero */
    text-align: center;
    padding: 150px 0;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.menu-item {
    width: 300px;
    margin-bottom: 30px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
.menu-item button {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact ul {
    list-style: none;
    padding: 0;
}
.contact li{
    margin-bottom: 10px;
}

footer {
    background-color: #6a5acd;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
